# verificar datos de Hogares desde 1993 hasta 2024 por municipio

In [5]:
import pandas as pd

df = pd.read_excel('../data/processed/proyecciones-hogares-1993-2024.xlsx')

df.head()

,Código Departamento,Nombre Departamento,Área,1993,1994,1995,1996,1997,1998,1999,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,5,Antioquia,Total,1076115,1108446,1140636,1172306,1203264,1233161,1262001,...,1854422,1917129,1986929,2068433,2148743,2227513,2302956,2380069,2459427,2536485
1,5,Antioquia,Cabecera,762318,789884,817648,845268,872481,899079,924998,...,1453235,1507257,1566987,1636124,1716939,1796729,1871696,1944942,2019087,2089609
2,5,Antioquia,Centros Poblados y Rural Disperso,313797,318562,322988,327038,330783,334082,337003,...,401187,409872,419942,432309,431804,430784,431260,435127,440340,446876
3,8,Atlántico,Total,335014,349133,362975,376408,389381,401827,413733,...,598614,615688,635478,662034,694599,724339,747556,767686,787842,810298
4,8,Atlántico,Cabecera,314334,327723,340884,353718,366188,378247,389861,...,567299,583433,602133,627228,658544,687177,709652,729173,748628,770244

In [6]:
df.describe()

,Código Departamento,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,99.000000,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,...,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01
mean,52.151515,1.603941e+05,1.656819e+05,1.708916e+05,1.760058e+05,1.809963e+05,1.858498e+05,1.905563e+05,1.951265e+05,1.995596e+05,...,2.787386e+05,2.874669e+05,2.972143e+05,3.089811e+05,3.204367e+05,3.314285e+05,3.412115e+05,3.505740e+05,3.600514e+05,3.696248e+05
std,30.947409,2.424094e+05,2.511951e+05,2.599144e+05,2.685133e+05,2.769237e+05,2.850858e+05,2.929945e+05,3.006030e+05,3.079632e+05,...,4.286235e+05,4.404828e+05,4.537105e+05,4.699977e+05,4.885536e+05,5.064954e+05,5.226794e+05,5.382787e+05,5.541055e+05,5.702959e+05
min,5.000000,1.054000e+03,1.127000e+03,1.217000e+03,1.294000e+03,1.360000e+03,1.423000e+03,1.476000e+03,1.531000e+03,1.580000e+03,...,2.538000e+03,2.637000e+03,2.737000e+03,2.865000e+03,3.050000e+03,3.237000e+03,3.427000e+03,3.638000e+03,3.847000e+03,4.060000e+03
25%,20.000000,2.247950e+04,2.315100e+04,2.382650e+04,2.449650e+04,2.519850e+04,2.706250e+04,2.856150e+04,3.129000e+04,3.202450e+04,...,5.002350e+04,5.253100e+04,5.546500e+04,5.855200e+04,6.032150e+04,6.182650e+04,6.292750e+04,6.408650e+04,6.537850e+04,6.699450e+04
50%,52.000000,9.069800e+04,9.460000e+04,9.673800e+04,9.963800e+04,1.024960e+05,1.053760e+05,1.082090e+05,1.111780e+05,1.143680e+05,...,1.504890e+05,1.532920e+05,1.564180e+05,1.601210e+05,1.645830e+05,1.672500e+05,1.710980e+05,1.748770e+05,1.793220e+05,1.833170e+05
75%,81.000000,1.804460e+05,1.870500e+05,1.934555e+05,1.996420e+05,2.026450e+05,2.082470e+05,2.140755e+05,2.196955e+05,2.251535e+05,...,3.064035e+05,3.165855e+05,3.260560e+05,3.394080e+05,3.479715e+05,3.565775e+05,3.649485e+05,3.733135e+05,3.817540e+05,3.894895e+05
max,99.000000,1.254582e+06,1.309595e+06,1.364089e+06,1.417768e+06,1.470423e+06,1.521748e+06,1.571696e+06,1.620121e+06,1.667100e+06,...,2.364640e+06,2.421742e+06,2.485077e+06,2.564897e+06,2.664781e+06,2.759217e+06,2.840109e+06,2.915263e+06,2.991250e+06,3.072358e+06

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 35 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Código Departamento  99 non-null     int64
 1   Nombre Departamento  99 non-null     object
 2   Área                 99 non-null     object
 3   1993                 99 non-null     int64
 4   1994                 99 non-null     int64
 5   1995                 99 non-null     int64
 6   1996                 99 non-null     int64
 7   1997                 99 non-null     int64
 8   1998                 99 non-null     int64
 9   1999                 99 non-null     int64
 10  2000                 99 non-null     int64
 11  2001                 99 non-null     int64
 12  2002                 99 non-null     int64
 13  2003                 99 non-null     int64
 14  2004                 99 non-null     int64
 15  2005                 99 non-null     int64
 16  2006                 99 non-null     int64
 17  2007                 99 non-null     int64
 18  2008                 99 non-null     int64
 19  2009                 99 non-null     int64
 20  2010                 99 non-null     int64
 21  2011                 99 non-null     int64
 22  2012                 99 non-null     int64
 23  2013                 99 non-null     int64
 24  2014                 99 non-null     int64
 25  2015                 99 non-null     int64
 26  2016                 99 non-null     int64
 27  2017                 99 non-null     int64
 28  2018                 99 non-null     int64
 29  2019                 99 non-null     int64
 30  2020                 99 non-null     int64
 31  2021                 99 non-null     int64
 32  2022                 99 non-null     int64
 33  2023                 99 non-null     int64
 34  2024                 99 non-null     int64
dtypes: int64(33), object(2)
memory usage: 27.2+ KB