# verificar datos de viviendas ocupadas y desocupadas desde 1993 hasta 2024

In [7]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /home/diegofernando/.pyenv/versions/3.12.7/envs/data_my_house/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /home/diegofernando/.pyenv/versions/3.12.7/envs/data_my_house/lib/python3.12/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [8]:
# abrir xlsx
import pandas as pd

ruta = '../data/processed/anexo-proyecciones-viviendas-dptal.xlsx'
df = pd.read_excel(ruta)

# wb.sheetnames
df.head()

,Código Departamento,Nombre Departamento,Área,1993,1994,1995,1996,1997,1998,1999,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,5,Antioquia,Total,1026087,1057351,1088549,1119328,1149513,1178774,1207119,...,1801920,1864937,1934968,2016519,2096981,2176067,2252010,2329671,2409594,2487310
1,5,Antioquia,Cabecera,720259,746829,773663,800443,826925,852917,878360,...,1409536,1463994,1524108,1593491,1674379,1754395,1829804,1903611,1978360,2049605
2,5,Antioquia,Centros Poblados y Rural Disperso,305828,310522,314886,318885,322588,325857,328759,...,392384,400943,410860,423028,422602,421672,422206,426060,431234,437705
3,8,Atlántico,Total,298758,311464,323962,336140,347962,359382,370403,...,566467,584990,606022,633429,666617,697008,721002,741867,762603,785427
4,8,Atlántico,Cabecera,278937,290946,302794,314401,325745,336800,347548,...,537142,554865,574961,601091,633118,662481,685785,706084,726169,748213

In [9]:
# leer el nombre de las hojas
df = pd.read_excel(ruta, sheet_name='viviendas_ocupadas_dpto')

In [10]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 35 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Código Departamento  99 non-null     int64
 1   Nombre Departamento  99 non-null     object
 2   Área                 99 non-null     object
 3   1993                 99 non-null     int64
 4   1994                 99 non-null     int64
 5   1995                 99 non-null     int64
 6   1996                 99 non-null     int64
 7   1997                 99 non-null     int64
 8   1998                 99 non-null     int64
 9   1999                 99 non-null     int64
 10  2000                 99 non-null     int64
 11  2001                 99 non-null     int64
 12  2002                 99 non-null     int64
 13  2003                 99 non-null     int64
 14  2004                 99 non-null     int64
 15  2005                 99 non-null     int64
 16  2006                 99 non-null     int64
 17  2007                 99 non-null     int64
 18  2008                 99 non-null     int64
 19  2009                 99 non-null     int64
 20  2010                 99 non-null     int64
 21  2011                 99 non-null     int64
 22  2012                 99 non-null     int64
 23  2013                 99 non-null     int64
 24  2014                 99 non-null     int64
 25  2015                 99 non-null     int64
 26  2016                 99 non-null     int64
 27  2017                 99 non-null     int64
 28  2018                 99 non-null     int64
 29  2019                 99 non-null     int64
 30  2020                 99 non-null     int64
 31  2021                 99 non-null     int64
 32  2022                 99 non-null     int64
 33  2023                 99 non-null     int64
 34  2024                 99 non-null     int64
dtypes: int64(33), object(2)
memory usage: 27.2+ KB

In [11]:
# dejar solo los valores de area que corresponden a Total
df = df[df['Área'] == 'Total']

df.head()

,Código Departamento,Nombre Departamento,Área,1993,1994,1995,1996,1997,1998,1999,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,5,Antioquia,Total,1026087,1057351,1088549,1119328,1149513,1178774,1207119,...,1801920,1864937,1934968,2016519,2096981,2176067,2252010,2329671,2409594,2487310
3,8,Atlántico,Total,298758,311464,323962,336140,347962,359382,370403,...,566467,584990,606022,633429,666617,697008,721002,741867,762603,785427
6,11,"Bogotá, D. C.",Total,1083194,1131187,1178887,1226081,1272632,1318330,1363197,...,2179015,2241559,2309499,2392320,2493444,2589000,2671281,2747550,2824006,2904747
9,13,Bolívar,Total,270055,279833,289555,299206,308593,317652,326408,...,490461,506616,524742,547067,570613,592808,611577,628797,646088,663626
12,15,Boyacá,Total,244760,250186,255472,260640,265667,270603,275408,...,365553,373653,382353,392192,401052,409653,417720,425738,433929,440845

In [12]:
# guardar el dataframe
df.to_csv('../data/processed/proyecciones-total-viviendas-1993-2024.csv')

In [13]:
# cambiar formato largo en lugar de ancho
df_long = pd.read_csv('../data/processed/proyecciones-total-viviendas-1993-2024.csv')

df_long.head()

,Unnamed: 0,Código Departamento,Nombre Departamento,Área,1993,1994,1995,1996,1997,1998,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,0,5,Antioquia,Total,1026087,1057351,1088549,1119328,1149513,1178774,...,1801920,1864937,1934968,2016519,2096981,2176067,2252010,2329671,2409594,2487310
1,3,8,Atlántico,Total,298758,311464,323962,336140,347962,359382,...,566467,584990,606022,633429,666617,697008,721002,741867,762603,785427
2,6,11,"Bogotá, D. C.",Total,1083194,1131187,1178887,1226081,1272632,1318330,...,2179015,2241559,2309499,2392320,2493444,2589000,2671281,2747550,2824006,2904747
3,9,13,Bolívar,Total,270055,279833,289555,299206,308593,317652,...,490461,506616,524742,547067,570613,592808,611577,628797,646088,663626
4,12,15,Boyacá,Total,244760,250186,255472,260640,265667,270603,...,365553,373653,382353,392192,401052,409653,417720,425738,433929,440845

In [14]:

# cambiar formato largo
df_long_wide = df_long.melt(id_vars=['Código Departamento', 'Nombre Departamento', 'Área'], var_name= "Año", value_name="Hogares")

# ordenar por departamento y año
df_long_wide = df_long_wide.sort_values(by=["Código Departamento", "Año"])

df_long_wide.head(50)

      Código Departamento Nombre Departamento   Área         Año  Hogares
33                      5           Antioquia  Total        1993  1026087
66                      5           Antioquia  Total        1994  1057351
99                      5           Antioquia  Total        1995  1088549
132                     5           Antioquia  Total        1996  1119328
165                     5           Antioquia  Total        1997  1149513
198                     5           Antioquia  Total        1998  1178774
231                     5           Antioquia  Total        1999  1207119
264                     5           Antioquia  Total        2000  1234593
297                     5           Antioquia  Total        2001  1261377
330                     5           Antioquia  Total        2002  1287786
363                     5           Antioquia  Total        2003  1314326
396                     5           Antioquia  Total        2004  1341627
429                     5           Antioquia  Total        2005  1369905
462                     5           Antioquia  Total        2006  1400593
495                     5           Antioquia  Total        2007  1433578
528                     5           Antioquia  Total        2008  1469243
561                     5           Antioquia  Total        2009  1508017
594                     5           Antioquia  Total        2010  1550230
627                     5           Antioquia  Total        2011  1595235
660                     5           Antioquia  Total        2012  1642484
693                     5           Antioquia  Total        2013  1692116
726                     5           Antioquia  Total        2014  1744946
759                     5           Antioquia  Total        2015  1801920
792                     5           Antioquia  Total        2016  1864937
825                     5           Antioquia  Total        2017  1934968
858                     5           Antioquia  Total        2018  2016519
891                     5           Antioquia  Total        2019  2096981
924                     5           Antioquia  Total        2020  2176067
957                     5           Antioquia  Total        2021  2252010
990                     5           Antioquia  Total        2022  2329671
1023                    5           Antioquia  Total        2023  2409594
1056                    5           Antioquia  Total        2024  2487310
0                       5           Antioquia  Total  Unnamed: 0        0
34                      8           Atlántico  Total        1993   298758
67                      8           Atlántico  Total        1994   311464
100                     8           Atlántico  Total        1995   323962
133                     8           Atlántico  Total        1996   336140
166                     8           Atlántico  Total        1997   347962
199                     8           Atlántico  Total        1998   359382
232                     8           Atlántico  Total        1999   370403
265                     8           Atlántico  Total        2000   381022
298                     8           Atlántico  Total        2001   391252
331                     8           Atlántico  Total        2002   401202
364                     8           Atlántico  Total        2003   411047
397                     8           Atlántico  Total        2004   420960
430                     8           Atlántico  Total        2005   431259
463                     8           Atlántico  Total        2006   441968
496                     8           Atlántico  Total        2007   453246
529                     8           Atlántico  Total        2008   465085
562                     8           Atlántico  Total        2009   477610

In [15]:
# guardar el dataframe
df_long_wide.to_csv('../data/processed/total-viviendas-1993-2024.csv')